---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Contact from '../components/Contact.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>jungmiin</title>
	</head>
	<body class="min-h-screen transition-colors duration-300 bg-[#FAFAFA] dark:bg-[#0A0A0A]">
		<Nav />
		<slot />
		<Contact />
	</body>
</html>